@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'DDINRegular';
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

/* Navigation styles */
.navigation {
    width: 270px;
    background-color: #163057;
    color: #fff;
    padding: 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.navigation .menu {
    font-size: 160%;
    margin: 0;
    padding: 0;
    flex: 1;
}

.navigation a {
    color: #fff;
    text-decoration: none;
}

.navigation .name {
    font-size: 140%;
    font-family: 'Rubik', sans-serif;
}

.route {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    margin-bottom: -12%;
}

nav a:hover, nav i:hover {
    color: #1383cf;
}

/* Content styles */
main {
    height: 100vh; /* 100vh is the height of the viewport */
    overflow-y: auto;
}

.navigation, .footer {
    height: auto; /* default height for these elements */
    overflow: hidden; /* no overflow */
}

.display-bars {
    display: none;
}

/* Footer styles */
.desktop-footer {
    color: #fff;
    text-align: left;
    font-family: 'DDINRegular';
    font-size: 120%;
    padding-right: 3.5%;
    padding-top: 1.5%;
}

.mobile-footer {
    display: none;
}

.social-icon {
    font-size: 120%;
    padding-right: 12.4%;
    padding-bottom: 7%;
}

/* Mobile & tablet styles */
@media screen and (max-width: 1300px) {
  main {
    overflow-y: visible;
  }

  .navigation {
    width: 100%;
    position: static;
    background-color: #163057;
    color: #fff;
    padding: 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  .route {
    padding-top: 0;
    display: contents;
    margin-bottom: 0;
  }

  .navigation .name {
    font-size: 170%;
  }

  .desktop-footer {
    display: none;
  }

  .navigation, .footer {
    height: auto; /* default height for these elements */
  }

  .content {
    align-items: center;
    padding: 2rem 2rem;
  }

  .route {
    font-size: 120%;
  }

  .menu a {
    float: left;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 1300px) {
  .menu a:not(:first-child) {display: none;}

  .menu a.display-bars {
    position: absolute;
    right: 32px;
    top: 41px;
    font-size: 150%;
    display: block;
  }
}

@media screen and (max-width: 1300px) {
  .menu.responsive {
    position: relative;
  }

  .menu.responsive .display-bars {
    position: absolute;
    right: 0;
    top: 9px;
  }

  .menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
